/* padding */

.top-padding
{
    padding-top: 1em;
}

.accordion-item
{
    padding-top: 5px;
    padding-bottom: 5px;
}


/* color */

body,
.accordion-button,
.accordion-button:active,
.accordion-button:hover,
.accordion-button:not(.collapsed),
.accordion-item,
.dropdown-menu a,
.navbar-dark .nav-item .nav-link,
.navbar-dark .nav-item .nav-link:hover,
.navbar-nav>li>.dropdown-menu
{
    color: white;
}


/* background-color */

body,
.accordion-item 
{
    background-color: rgb(34, 34, 34);
}

.accordion-button,
.navbar-dark,
.navbar-nav>li>.dropdown-menu
{
    background-color: darkslategrey;
}

.dropdown-menu>li>a:hover,
.navbar-dark .nav-item .nav-link:hover
{
    background-color: burlywood;
}

.accordion-button:active,
.accordion-button:not(.collapsed),
.dropdown-menu>li>.active,
.navbar-nav>li>.active
{
    background-color: darkgoldenrod;
}

.accordion-button::after
{
    background-color: white;
}


/* border-color */

.card
{
    border-color: darkslategray;
}

.accordion-item
{
   border-color: rgb(34, 34, 34);
}


/* Spotify and YouTube iframes */
.mediaframe
{
    border-color: darkslategray;
    border-style: ridge;
    /*width: fit-content;*/
}


/* tables */
.table
{
    white-space: nowrap;
}