body {
    background-color: rgb(34, 34, 34);
    color: white;
}

.top-padding {
    padding-top: 1em;
}

.navbar-dark {
    background-color: darkslategrey;
}

.navbar-dark .nav-item .nav-link {
    color: white;
}

.navbar-dark .nav-item .nav-link:hover {
    background-color: burlywood;
    color: white;
}

.navbar-nav>li>.active {
    background-color: darkgoldenrod;
}

.navbar-nav>li>.dropdown-menu {
    background-color: darkslategrey;
    color: white
}

.dropdown-menu a {
    color: white;
}

.dropdown-menu>li>a:hover {
    background-color: burlywood;
}

.dropdown-menu>li>.active {
    background-color: darkgoldenrod;
}

.card {
    border-color: darkslategray;
}

.accordion-item {
    color: white;
    background-color: rgb(34, 34, 34);
    border-color: rgb(34, 34, 34);
    padding-top: 5px;
    padding-bottom: 5px;
}

.accordion-button {
    color: white;
    background-color: darkslategrey;
    border-color: darkgray;
}

.accordion-button::after {
    background-color: white;
}

.accordion-button:hover {
    color: white;
    background-color: burlywood;
}

.accordion-button:not(.collapsed),
.accordion-button:active {
    color: white;
    background-color: darkgoldenrod;
    border-color: darkgray;
}

.spotify {
    border-color: green;
    border-style: ridge;
    width: fit-content;
}

.youtube {
    border-color: red;
    border-style: ridge;
    width: fit-content;
}

.table {
    white-space: nowrap;
}